<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Go by Example</title>
    <link rel=stylesheet href="site.css">
  </head>
  <body>
    <div id="intro">
      <h2><a href="./">Go by Example</a></h2>
      <p>
        <a href="https://go.dev">Go</a>
        Ni lugha ya chanzo huru ambayo imetengenezwa kwa ajili ya kutengeza programu imala, zenye ulinzi na ambazo zinadumu.
        Tafadhali soma 
        <a href="https://go.dev/doc/tutorial/getting-started">nyaraka harisi</a>
        kujifunza zaidi
      </p>

      <p>
        <em>Go kwa mifano</em> ni mazoezi halisi kwenye mwanzo wa Go kwa kutumia mifano ya programu.Fuatilia
        <a href="hello-world">mfano wa kwanza</a> au angalia kwenye list yote hapo chini.
      </p>

      <p>
        Isipokuwa imeelezwa vinginevyo, mifano hapa inachukua <a href="https://go.dev/doc/devel/release">toleo kuu la hivi punde la Go</a>  na inaweza kutumia vipengele vya lugha mpya. Jaribu kupata toleo jipya zaidi ikiwa kitu haifanyi kazi.
      </p>

      <ul>
      {{range .}}
        <li><a href="{{.ID}}">{{.Name}}</a></li>
      {{end}}
      </ul>
{{ template "footer" }}
    </div>
  </body>
</html>
